*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #1d2b3a;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg,#f00,#0ff);
    border-radius: 50%;
    cursor: pointer;
}
.particles{
    position: absolute;
   
    border-radius: 50%;
    background: linear-gradient(90deg,#f00,#0ff);
    animation: animate 2s ease infinite;
    z-index: -1;

}
@keyframes animate {
    0%,100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(var(--x),var(--y));
    }
}

